@model List<Inventory>



@{
    ViewData["Title"] = "Manage inventory";
}



<div class="text-center">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>MODEL</td>
                <td>DESCRIPTION</td>
                <td>PV Code<br />(Lead Time)</td>
                <td>List Price<br />($CAD)</td>
                <td>Qty</td>
                <td>
                    <a class="btn btn-success" asp-controller="Admin" asp-action="Add">
                        <span class="fas fa-plus"></span>&nbsp;Add model
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.PVCode</td>
                    <td>$@item.Price.ToString("#,##0.00")</td>
                    <td>@item.Qty</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="Edit" asp-route-id="@item.InventoryId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.InventoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>