@model ListViewModel

@{
    ViewData["Title"] = "Products Page";
    int qty = 0;
    foreach (var item in Model.Carts)
    {
        qty += Model.Items.Where(m => m.InventoryId == item.InventoryId).FirstOrDefault().Qty;
    }
    ViewData["Qty"] = qty;
}

<div class="text-center">
    <div style="display: flex; justify-content: space-between; margin-bottom:20px">
        <ul class="list-group list-group-horizontal mb-2">
            <span class="list-group-item">Level: </span>
            @for (int i = 0; i < Nav.levels.Length; i++)
            {
                <a class="list-group-item @Nav.getActive(i)" asp-controller="Home" asp-action="Index" asp-route-level="@Nav.levels[i]">@Nav.levels[i]</a>
            }
        </ul>
        <div class="card" style="width: 50px; height:37px;"><p style="text-align: center; margin:auto;">@Math.Round(Model.DiscountRate)%</p></div>
    </div>
    
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <td>MODEL</td>
                <td>DESCRIPTION</td>
                <td>PV Code<br />(Lead Time)</td>
                <td>List Price<br />($CAD)</td>
                <td>NET Price<br />($CAD)</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Inventories)
            {
                <tr>
                    <td>@item.Name <br/> <img src="@Url.Content(item.Image)" width="70px"/> </td>
                    <td class="w-50 text-start">
                        @foreach (var line in item.Description.Split("\r\n"))
                        {
                            @if (line.IndexOf('\t') != -1)
                            {
                                <span>&emsp;-</span>
                                @line
                            }
                            else
                            {
                                @line
                            }
                            <br />
                        }
                    </td>
                    <td>@item.PVCode</td>
                    <td>$@item.Price.ToString("#,##0.00")</td>
                    <td>$@((item.Price * (1 - (Model.DiscountRate * 0.01))).ToString("#,##0.00"))</td>
                    @if (item.Qty != 0)
                    {
                        <td><a class="btn btn-primary" asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@item.InventoryId">Add to cart</a></td>
                    }
                    else
                    {
                        <td><button class="btn btn-primary" disabled>Out of Order</button></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>