@model CartViewModel

@{
    ViewData["Title"] = "Cart Page";
    int qty = 0;
}

<div class="text-center">
    @Model.RecommendedProduct.Level - @Model.RecommendedProduct.Name
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Qty</td>
                <td>MODEL</td>
                <td>DESCRIPTION</td>
                <td>List Price<br />($CAD)</td>
                <td>NET Price<br />($CAD)</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Carts)
            {
                qty += Model.Qty[item.Name];
                <tr>
                    <td>@Model.Qty[item.Name]</td>
                    <td>@item.Name</td>
                    <td class="w-75">
                        @foreach (var line in item.Description.Split("\r\n"))
                        {
                            @if (line.IndexOf('\t') != -1)
                            {
                                <span>&emsp;-</span>
                                @line
                            }
                            else
                            {
                                @line
                            }
                            <br />
                        }
                    </td>
                    <td>$@item.Price.ToString("#,##0.00")</td>
                    <td>$@((item.Price * (1 - (Model.currentUser.DiscountRate * 0.01))).ToString("#,##0.00"))</td>
                    <td><a class="btn btn-primary" asp-controller="Cart" asp-action="Delete" asp-route-id="@item.InventoryId">Delete</a></td>
                </tr>
                
            }
        </tbody>
    </table>
</div>

@{
    ViewData["Qty"] = qty;
}